.App {
  padding-bottom: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height:40px;
  width: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card-size {
  min-width: 245px;
  max-width: 245px; 
}

.inSearch{
  max-width: 180px;
}
